*.o
*.asp
*.bak
*.def
*.dll
*.dsp
*.dylib
*.exe
*.exp
*.idb
*.ilk
*.kdevelop*
*.kdevses
*.la 
*.lib
*.lnk
*.lo 
*.log
*.map
*.ncb
*.o 
*.obj
*.old
*.opt
*.pch
*.pdb
*.plg
*.res
*.sln
*.suo
*.sym
*.tmp
*.vcproj
.ignore
.kdbgrc*
BuildLog.htm
.buildStarted
buildConfig.*
.buildConfig.*
build/bin/dsi
build/bin/genDepend
build/bin/incPatch
build/bin/pp
.CFG-*
Debug
lib/libmatrix*
src/test/benchMpr
src/test/bench.save
bin/charGen
bin/http
bin/makerom
lib/*.so
lib/libcrypto*
lib/libssl*
src/test/testMpr
bin/*.manifest
lib/*.a
bin/*.a
bin/benchMpr
bin/testMpr
bin/runProgram*
src/test/runProgram
.embedthis
.makedep
src/test/cmp/index.html
src/test/save/index.html
src/all/http.c
src/all/matrixssl.c
src/all/mpr.h
src/all/mprLib.c
src/all/mprSsl.h
src/all/openssl.c
src/all/pcre.c
src/all/mprMatrixssl.c
src/all/mprOpenssl.c
src/all/mprPcre.c
src/all/mprSsl.c
projects/testMpr
projects
build/bin/getpath
doc/api/html
doc/api/genMpr/xml
doc/api/genMpr/html
doc/api/mpr/xml
doc/api/mpr/html
lib/*/*.a
lib/*/*.so
bin/*/*.out
src/test/runProgram.out
bin/*macosx
.dummy.rc
src/all/makerom.c
build/bin/edep
bin/*/*.a
.DS_Store
extensions
.appweb.pid
*.mod
.gdbinit
*.out
all/*.h
all/*.c
bin/testHttp
projects/
doc/api/http/xml
