*.o
.makedep
all/*.c
all/*.h
.build*
build/bin/dsi
build/bin/edep
build/bin/getpath
*.tmp
extensions
*.a
*.dylib
bin/makerom
bin/testHttp
bin/http
build/bin/buildConfig.sh
doc/api/http/xml
doc/api/mpr
src/include/buildConfig.h
*.mod
buildConfig.make
lib/*.so
