*.o
.makedep
all/*.c
all/*.h
.build*
build/bin/dsi
build/bin/edep
build/bin/getpath
*.tmp
extensions
*.a
*.dylib
bin/makerom
bin/testHttp
bin/http
doc/api/http/xml
doc/api/http/html
*.mod
lib/*.so
*.pdb
*.obj
*.exe
*.lib
*.dll
*.exp
bin/*.def
releases
staging
bin/angel*
projects/MACOSX/*/build
*/x86_64-pc-win
out
Win32
x64
*.user
*.filters
*.suo
*.sdf
*.xcworkspace
xcuserdata
mob.*
.embedthis
.publisher
src/test/appweb/trace.txt
.DS_Store
*.guid
local.bit
*-debug
*-release
xcode
/*-*.bit
/*-*-debug/
/*-*-release/
.*.guid
start.bit
*.dmp
